#logo{
  width:15%;
}
#logotext{
  float: left;
}

/*table tr:nth-of-type(1){
  opacity: 1;
  color: black;
  background-color: green;
}

table tr:nth-of-type(2){
  opacity: 1;
  color: black;
  background-color: green;
}*/

#courses-page tr {
  color: black;
  font-weight: bold;
  background-color: white;
}

#courses-page tr:nth-of-type(1) {
  background-color: lightgreen;
}

.course-table{
      background: url('images/parallax-6.jpg') no-repeat scroll center center / cover
}
