#logo{
  width:15%;
}
#logotext{
  float: left;
}

#courses-page tr {
  color: black;
  font-weight: bold;
  background-color: #F2FEFE;
}

#courses-page tr:nth-of-type(1) {
  background-color: lightgreen;
}

.fullBorder {
border: solid 1px black;
}

.topBottomBorder{
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.leftRightBorder{
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.contact-links a:hover {
  color: #697073;
}
